# ============ GRADLE ============= #
.gradle
build/


# ============ MAVEN ============= #
target/


# =========== INTELLIJ ============ #
.idea
venv/


# =========== ECLIPSE ============ #
.project
.settings
.classpath
.DS_Store


# =========== MISCELLANEOUS ============ #
*.csv
out/
Thumbs.db

