# ============ GRADLE ============= #
.gradle
build/
bin


# ============ MAVEN ============= #
target/


# =========== INTELLIJ ============ #
.idea
venv/


# =========== ECLIPSE ============ #
.project
.settings
.classpath
.DS_Store


# =========== MISCELLANEOUS ============ #
*.csv
out/
Thumbs.db
poc-graalvm-micronaut
node_modules/
*.iml
logs/
*.hprof
jmeter.log
